/* Automatically applies to ALL <p> tags */
p {
  color: #4b5563;
  font-size: 1.1rem;
}

/* Targets ONLY elements with class="highlight" */
.mspTitle {
  color: #4e76ed;
  font-weight: bold;
  font-size: 3.3rem;
  background-color: #0421c7;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
}
